<h1><em>I'M TRYING TO FREE YOUR MIND</em></h1>
<img src="https://www.cs.cmu.edu/~rgs/alice03a.gif">
<h2><em>BUT I CAN ONLY SHOW YOU THE DOOR. YOU'RE THE ONE THAT HAS TO WALK THROUGH IT.</em></h2>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>